/*
Plan;D Main Css Styles
*/

$mainColor: #0072b1;

//================================================
// Mixins
//================================================
@mixin animate ($attr, $time) {
  -webkit-transition: $attr $time ease;
  -moz-transition: $attr $time ease;
  -ms-transition: $attr $time ease;
  -o-transition: $attr $time ease;
  transition: $attr $time ease;
}
@mixin transform ($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
  transform: $value;
}

@keyframes slideInFromtop {
  0% {
    transform: translateY(-120%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  25% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

//================================================
// GLobal Styles
//================================================

body {
  background-color: $mainColor;
  font-family: helvetica, arial, sans-serif;
}

img, h1, p {
  animation: 3s ease-out 0s 1 fadeIn;
}

h1, p {
  color: #fff;
  text-align: center;
  font-family: helvetica, arial, sans-serif;
}

img {
  display: block;
  margin:auto;
  max-width: 500px;
}
.fullscreen {
  height: 1000px;
}
